:root {
--text-color-light: #535353;
--template-border-color: #FFFFFF;
--font-size: 13px;
--text-color: #202020;
--text-color-strong: #484848;
--font-family: 'Noto Sans', sans-serif;
--header-height: 60px;
--header-logo-background: #FFFFFF;
--header-background-color: #002053;
--menu-width: 280px;
--menu-background-color: #002053;
--menu-master-color-strong: #FFFFFF;
--menu-check-color: #FFFFFF;
--submenu-background-color: #002053;
--main-color: #2196F3;
--live-background-color: #F1F1F1;
--button-height: 35px;
--button-text-color: #000000;
--button-background: #FFFFFF;
--button-border-radius: 15px;
--button-padding: 20px;
--field-height: 35px;
--field-border-top: 1px;
--field-border-bottom: 1px;
--field-border-right: 1px;
--field-border-left: 1px;
--field-border-radius: 10px;
--field-background: #FFFFFF;
--field-border-color: #B2BED0;
--field-color: #2D2D2D;
--field-focus-border-color: #2196F3;
--field-placeholder-color: #919191;
--content-background: #FFFFFF;
--content-border-color: #DFDFDF;
--panel-background: #FFFFFF80;
--panel-border-radius: 15px;
--modal-background: #FFFFFF;
--submenu-sub-text-color: #FFFFFF;
--scrollbar-color: #2196F3;
--color-overlay: #0000004d;
--preloader-color: #008EFF;
--live-area-width: 100%;
--header-border-bottom: #FFFFFF00;
--header-logo-font-size: 22px;
--header-logo-border-right: #002053;
--header-logo-border-bottom: #002053;
--header-track-border-right: #002053;
--header-box-display: none;
--header-box-background: #2196F3;
--panel-header-background: #EFE9E9;
--panel-body-padding: 15px;
--panel-border-color: #009DD5F2;
--button-border: #A5B1C6;
--button-text-color-hover: #4CAF50;
--menu-border-right: #002053;
--menu-icon-font-size: 13px;
--menu-background-check: #2196F3;
--menu-button-border-color: #FFFFFF;
--submenu-border-right: #002053;
--submenu-text-color: #FFFFFF;
--submenu-text-hover: #2196F3;
--submenu-background-check: #2196F3;
--submenu-check-color: #FFFFFF;
--top-menu-border: #FAFAFA;
--top-menu-background-color: #002053;
--top-menu-background-check: #2196F3;
--top-menu-check-color: #FFFFFF;
--top-menu-hover-color: #FFFFFF;
--top-menu-color: #2196F3;
--top-submenu-background-color: #fff;
--top-submenu-text-color: #8694B0;
--top-submenu-text-hover: #FFFFFF;
--top-submenu-background-check: #2196F3;
--top-submenu-check-color: #fff;
--field-padding-horizontal: 8px;
--tr-hover-background: #E1EAF3;
--tr-hover-color: #0A0B0D;
--panel-padding: 1px;
--tr-even-background: #EFF5F9;
--tr-odd-background: #FFFFFF;
--table-body-color: #2D2D2D;
--table-header-color: #00378E;
--modal-footer-background: #DFE4ED38;
--modal-header-background: #2196F3;
--modal-header-color: #FFFFFF;
--panel-box-shadow: none;
--panel-header-color: #2B2B2B;
--panel-footer-background: #EFE9E9;
--header-text-color: #FFFFFF;
--header-box-shadow: none;
--menu-box-shadow: none;
--menu-user-splash-background: #002053;
--panel-header-font-size: 16px;
--panel-header-font-weight: bold;
--panel-header-padding-vertical: 10px;
--panel-header-padding-horizontal: 15px;
--panel-header-border-color: #B7C5EB;
--header-logo-text-color: #333333;
--menu-background-button-circle: #FFFFFF;
--menu-color-button-circle: #2196F3;
--top-menu-background-button-circle: #FFFFFF;
--top-menu-color-button-circle: #002053;
--submenu-font-size: 15px;
--submenu-item-padding-horizontal: 12px;
--submenu-item-padding-vertical: 5px;
--modules-button-radius: 100px;
--header-logo-padding-horizontal: 1px;
--header-logo-padding-vertical: 1px;
--panel-row-margin-bottom: 7px;
--tab-active-border-color: #2196F36B;
--tab-active-background: #2196F3;
--tab-active-color: #FFFFFF;
--tab-border-color: #979797;
--tab-background: #FFFFFF;
--tab-color: #3E3E3E;
--tab-border-radius: 15px;
--tab-font-size: 14px;
--tab-font-weight: normal;
--table-header-font-size: 15px;
--table-header-font-weight: bolder;
--table-header-background: #BEDDF6;
--table-header-border-color: #DFE4ED;
--table-header-padding-vertical: 15px;
--field-check-color: #fd9203;
--field-disabled-background: #D2D7E082;
--field-disabled-text-color: #000000;
--field-disabled-border: #D2D7E0;
--name: Ligth Blue;
--content-border-radius: 10px;
--field-padding-vertical: 0px;
--button-box-shadow: none;
--submenu-padding-horizontal: 8px;
--header-box-padding-horizontal: 0px;
--header-box-padding-vertical: 0px;
--login-background-color: #B3D6FF;
--login-panel-header-background: #ECECEC;
--login-panel-left-background-color: #fd9203;
--login-panel-right-background-color: #ffffff;
--login-button-background: #4CAF50;
--login-button-text-color: #FFFFFF;
--login-panel-left-text-header-color: #1B1B1B;
--login-panel-left-text-header-align: left;
--login-panel-left-text-header-font-size: 40px;
--login-panel-left-text-header-font-weight: 700px;
--login-panel-left-text-footer-color: #8694B0;
--login-panel-left-text-footer-align: left;
--login-panel-left-text-footer-font-size: 30px;
--login-panel-left-text-footer-font-weight: 700px;
--login-panel-detail-display: none;
--login-link-color: #212121;
--login-html: ;
--login-panel-detail-display-image: flex;
--login-panel-detail-display-details: flex;
--login-panel-detail-image-size: contain;
--login-panel-detail-image-position: center;
--login-panel-detail-direction: row;
--login-panel-max-width: 500px;
--login-panel-max-height: 550px;
--login-panel-detail-force-full-image: ;
--login-panel-border-radius: 10px;
--login-panel-box-shadow:  0px 0px 10px 4px #0000004d;
--login-title-font-size: 40px;
--login-title-align: center;
--login-title-font-weight: 700px;
--login-title-color: #2C2C2C;
--login-header-font-size: 14px;
--login-header-align: left;
--login-header-color: #212121;
--login-border-color: #C5C5C5;
--login-panel-left-header-image-position: center;
--login-text-center-align: center;
--login-text-center-size: 18px;
--login-text-center-weight: 600px;
--login-text-center-color: #616776;
--show-text-center: ;
--login-form-box-shadow: none;
}